.align { 
    margin: auto;
    width: 50%;
    padding: 10px;
}
.searchBar {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}
.header {
    margin: left 20px;
    font-size: 30px;
    height: 30px;
    font-weight: bold;
    padding: 50px;
}